@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


#bg1{
  background-image: url("img/bg1.png"); 
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}
.desktop1-desktop1 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    
    
   
  }
  .logo1{
    /* height: 170px;
    width: 456px; */

    height: auto;
    width: 370px;
    margin-top:-30px  ;
    margin-left: 60px;

    
  }
  .desktop1-i-m-a-g-e291 {
    top: -25px;
    left: -18px;
    width: 1571px;
    height: 1073px;
    position: absolute;
    border-color: transparent;
  }
  .desktop1-navbar {
    top: 0px;
    left: -2px;
    width: 95%;
    height: 196px;
    display: flex;
    padding: 33px 29px;
    margin-top:-20px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 15px;
  }
  .desktop1-component1 {
    width: 456px;
    height: 70px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex:3;
    border-color: transparent;
    margin-right: 35px;
  }
  .desktop1-text {
    top: -1rem;
    left: 53px;
    color: rgba(1, 8, 9, 0.9);
    width: 351px;
    height: auto;
    position: absolute;
    font-size: 85px;
    align-self: auto;
   
  
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop1-image2 {
    top: 0px;
    left: 156px;
    width: 70px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .button-nav{
    color: black;
    height: auto;
    font-size: 2rem;
    align-self: auto;
    display: flex;
    cursor: pointer;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 35px;
    margin-bottom: 0;
    text-decoration: none;
    border: 0px;
    background: transparent;
    padding: 10px;
  }
  
  
  
  .desktop1-hero {
    top: 80px;
    left: 88px;
    width: auto;
    height: auto;
    display: flex;
    padding: 10rem;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .desktop1-ellipse1 {
    top: 10rem;
    left: 923px;
    width: 339px;
    height: 352px;
    position: absolute;
    border-color: transparent;
    margin-left: 30rem;
    margin-top: 20rem;
    width: 339px;
    height: 352.42px;
    left: 1011px;
    top: 166.78px;

    background: radial-gradient(50% 50% at 50% 50%, #1AA00E 0%, rgba(27, 145, 17, 0) 100%);

  }
  .desktop1-q-dhn-wmpw-i-f2gt2awesk-rtransformed1 {
    top: 30px;
    left: 550px;
    width: 1151px;
    height: auto;
    position: absolute;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    margin-left: 25rem;
    margin-top: 20px;
    
  }
  .desktop1-text10 {
    top: 169.32945251464844px;
    left: -1.1368683772161603e-13px;
    color: rgba(255, 255, 255, 1);
    width: auto;
    height: auto;
    position: absolute;
    font-size: 10rem;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    line-height: 94.9999988079071%;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-frame1 {
    top: 710px;
    left: 88px;
    width: 340px;
    display: flex;
    padding: 17px 36px;
    position: fixed;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 84px;
    background-color: rgba(20, 47, 72, 0.3499999940395355);
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 45px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    line-height: 91.50000214576721%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    transition: 300ms;
    margin-top: 5rem;
  }
  
  .desktop1-frame1:hover{
    color:#a811ff59;
    background-color: cyan;
  }
  .button-nav:hover{
    transform: scale(1.2);
  }
  
.hero2{
  display: flex;
  height: auto;
  width: auto;
  flex-direction: row;
  

} 
.box1{
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  height: 300px;
  width: 400px;
  border-radius: 1.5rem;
  margin-left: 20px;
  margin-top: 10px;
}
.offer-1{
  font-size: 5rem;
  font-family: Poppins;
  color: white;

}
.box2{
  display: flex;
  flex-direction: row;
}
a{
  text-decoration: none;
  
}
a:hover{
  color: none;
}
a:active{
  color: black;

}
a::after{
  color:black;
}
a::before{
  color: black;
}

a:visited{
  color: black;
}

