@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
.desktop1-desktop1 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(40, 30, 30, 1);
    border-style: solid;
    border-width: 1px;
   
  }
  .desktop1-i-m-a-g-e291 {
    top: -25px;
    left: -18px;
    width: 1571px;
    height: 1073px;
    position: absolute;
    border-color: transparent;
  }
  .desktop1-navbar {
    top: 0px;
    left: -2px;
    width: 1451px;
    height: 196px;
    display: flex;
    padding: 33px 29px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 15px;
  }
  .desktop1-component1 {
    width: 456px;
    height: 70px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 35px;
  }
  .desktop1-text {
    top: -4px;
    left: 53px;
    color: rgba(3, 28, 30, 0.8999999761581421);
    width: 351px;
    height: auto;
    position: absolute;
    font-size: 85px;
    align-self: auto;
    font-style: ExtraBold;
    text-align: left;
    font-family: Archivo;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop1-image2 {
    top: 0px;
    left: 156px;
    width: 70px;
    height: 70px;
    position: absolute;
    border-color: transparent;
  }
  .desktop1-text02 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 34px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Archivo;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 35px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop1-text04 {
    color: rgba(3, 28, 30, 0.8999999761581421);
    height: auto;
    font-size: 34px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Archivo;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 35px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop1-text06 {
    color: rgba(3, 28, 30, 0.8999999761581421);
    height: auto;
    font-size: 34px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Archivo;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 35px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop1-text08 {
    color: rgba(3, 28, 30, 0.8999999761581421);
    height: auto;
    font-size: 34px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Archivo;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop1-hero {
    top: 80px;
    left: 88px;
    width: 1519px;
    height: 726px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .desktop1-ellipse1 {
    top: 86.78134155273438px;
    left: 923px;
    width: 339px;
    height: 352px;
    position: absolute;
    border-color: transparent;
    /* Ellipse 1 */

position: absolute;
width: 339px;
height: 352.42px;
left: 1011px;
top: 166.78px;

background: radial-gradient(50% 50% at 50% 50%, #1AA00E 0%, rgba(27, 145, 17, 0) 100%);

  }
  .desktop1-q-dhn-wmpw-i-f2gt2awesk-rtransformed1 {
    top: 30px;
    left: 550px;
    width: 1151px;
    height: 737px;
    position: absolute;
    border-color: transparent;
  }
  .desktop1-text10 {
    top: 169.32945251464844px;
    left: -1.1368683772161603e-13px;
    color: rgba(255, 255, 255, 1);
    width: 875px;
    height: auto;
    position: absolute;
    font-size: 140px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Poppins;
    font-weight: 700;
    line-height: 94.9999988079071%;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop1-frame1 {
    top: 710px;
    left: 88px;
    width: 340px;
    display: flex;
    padding: 17px 36px;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 84px;
    background-color: rgba(20, 47, 72, 0.3499999940395355);
  }
  .desktop1-text15 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 55px;
    align-self: auto;
    font-style: SemiBold;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 91.50000214576721%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
 
